
.espaco{
    margin-top:1%;
    margin-left: 2%;
}
.espaco-top{
    margin-top: 2%;
}
.espaco-foto{
    margin-top: 3%;
}
h1{
    font-family: 'Times New Roman', Times, serif;
    color:#5d4037;
}
.estilo{
    text-align:justify;
}
.hyperlink{
    color: red;
}
i{
    color:#5d4037;

}
h4,h5{
    font-family: 'Times New Roman', Times, serif;
    color:#5d4037;
}
.efeito{
    color:red;
}
.nav-menu:active{
    color:#fff;

}
.nav-menu:link{
    color:#fff;

}
.nav-menu:visited{
    color:#fff;

}
.collapsible-header{
    color:#5d4037;
    font-weight: bold;
    font-size:14pt;
}
.icon-send{
  color:#fff!important;
  }
@media only screen and (max-width: 1006px) {
   
.logo img{
    width: 50%;
    text-align: center!important;
}
p, label, .card-action a{
    font-size:24px;
}
nav .sidenav-trigger i {
    font-size: 70px;
    color:#fff!important;

}  
.brand-logo img{
    width: 200px!important;
}
.phone{
    color: #fff!important;
}
}
@media only screen and (max-width: 600px) {
.phone{
    color: #fff!important;
}
iframe{
    width: 300px;
    height: 250px;
}
.logo img{
    width: 50%;
    text-align: center!important;
}
nav .sidenav-trigger i  {
    font-size: 70px;
    color:#fff!important;

}
.brand-logo img{
    width: 200px!important;
}
.sidenav li a {
    font-size: 25px!important;
}
}